* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

header,
footer{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    width: 80px;
    height: 23px;
    border-radius: 5px;
    border: 2px solid rgb(200, 200, 200);
}

main .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
}

#grid{
    display: flex;
    flex-wrap: wrap;
    /* per la lunghezza, divido l'altezza
       in 15 parti (che indica la larghezza di ogni cella)
       e moltiplico il tutto per 10 ovvero quante celle
       voglio visualizzare per riga */
    width: calc((100vh / 15) * 10 + 2px);
    height: calc((100vh / 15) * 10 + 2px);
}

.cell{
    width: calc(100vh / 15);
    height: calc(100vh / 15);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    font-weight: bold;
}