* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

header,
footer{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    width: 80px;
    height: 23px;
    border-radius: 5px;
    border: 2px solid rgb(200, 200, 200);
}

main{
    height: calc(100vh - 150px);
}

main .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    width: calc(100vh + 2px);
    height: 100%;
}

#cell{
    width: calc(100vh / 10);
    height: calc(100vh / 10);
    border: 1px solid black;
}

footer p{
    font-weight: bold;
}